.panel.panel-primary
  .panel-heading
    .panel-title
      .row
        .col-md-4
          New Institute
        .col-md-8
          .pull-right
            = link_to 'Back', institutes_path, class: "btn btn-info active"
  .panel-body
    = form_for(@institute, :html => { :role => "form" }) do |f|
      - if @institute.errors.any?
        #error_explanation
          %h2
            = pluralize(@institute.errors.count, "error")
            prohibited this institute from being saved:
          %ul
            - @institute.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label "Institute Name"
        = f.text_field :name, :class => "form-control", :placeholder => "Enter name"
      .form-group
        = f.hidden_field :user_id, :value => current_user.id
      .actions
        = f.submit "Submit", :class => "btn btn-danger"
