
.panel.panel-primary
  .panel-heading
    .row
      .pull-left.col-md-2
        Institute
      .col-md-6
        Actions
      .col-md-4
        .pull-right
          = link_to 'New Institute', new_institute_path, class: "btn btn-info active", role: "button"
  .panel-body
    - @institutes.each do |institute|
      %div.row.well-sm
        %div.col-md-2
          = institute.name
        %div.col-md-6
          %b.col-md-2= link_to 'Edit', edit_institute_path(institute)
          %b.col-md-2= link_to 'Destroy', institute, method: :delete, data: { confirm: 'Are you sure?' }
        %div.col-md-4

= paginate @institutes, :theme => 'twitter-bootstrap-3'
