<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @institute.name %>
</p>

<%= link_to 'Edit', edit_institute_path(@institute) %> |
<%= link_to 'Back', institutes_path %>

<%= form_for @institute do |f| %>
  <% if @institute.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@institute.errors.count, "error") %> prohibited this institute from being saved:</h2>
      <ul>
      <% @institute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :courses do |builder| %>
    <%= render 'course_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Courses", f, :courses %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
